[submodule "ThirdParty/FeatureFlow"]
	path = ThirdParty/FeatureFlow
	url = https://github.com/RNubla/FeatureFlow.git
[submodule "ThirdParty/TecoGAN"]
	path = ThirdParty/TecoGAN
	url = https://github.com/RNubla/TecoGAN
[submodule "ThirdParty/ESRGAN"]
	path = ThirdParty/ESRGAN
	url = https://github.com/RNubla/ESRGAN.git
